<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{298,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,139}}</string>
                <key>sourceSize</key>
                <string>{298,139}</string>
            </dict>
            <key>btn_zailai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{250,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,98}</string>
            </dict>
            <key>ui_biaoti0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>ui_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{333,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,31}}</string>
                <key>sourceSize</key>
                <string>{333,31}</string>
            </dict>
            <key>ui_ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,35},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>ui_fenxiang_defen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{146,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,31}}</string>
                <key>sourceSize</key>
                <string>{146,31}</string>
            </dict>
            <key>ui_jinbi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,35},{295,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,295}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ui_jinbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,143},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ui_quan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,526},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ui_quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,368}}</string>
                <key>sourceSize</key>
                <string>{368,368}</string>
            </dict>
            <key>ui_quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,143},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>ui_quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,332},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>ui_quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>ui_quan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>ui_quan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,756},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ui_xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,588},{220,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{220,109}}</string>
                <key>sourceSize</key>
                <string>{222,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roll_gold.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c4f549263629fefa680ac46fb76894f$</string>
            <key>textureFileName</key>
            <string>roll_gold.png</string>
        </dict>
    </dict>
</plist>
